<form novalidate name="bookingPriceRuleForm"  role="form" class="mainForm center-block">

    <div class="row firstRow">

        <div class="col-xs-12 col-sm-12 col-md-4 nameContainer">
            <label for="name" translate>trans.field.name.label</label>
            <input type="text" class="form-control" id="name" ng-model="ticker"
                   placeholder="{{ 'trans.field.name.placeholder' | translate }}">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 priorityContainer">
            <label for="priority" translate>trans.field.priority.label</label>
<!--
            <select id="priority" class="form-control"
                    ng-model="rulePriority" ng-options="priority.label for priority in priorities">
                <option value="">-- {{ 'trans.field.priority.placeholder' | translate }} --</option>
            </select>
-->
            <select id="priority" class="form-control"
                    ng-model="rulePriority" ng-options="value.label for (key , value) in priorities"
                    ng-model-options="{ getterSetter: true }">
            <option value="">-- {{ 'trans.field.priority.placeholder' | translate }} --</option>
            </select>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 variationContainer">
            <label for="variation" translate>trans.field.variation.label</label>
            <div class="input-group">
                <select class="form-control segmentedSelectWithInput"
                        ng-options="sign.label for sign in signs"
                        ng-model="sign"
                        ng-model-options="{ getterSetter: true }">
                </select>
                <input id="variation"
                       class="form-control segmentedSelectWithInput"
                       ng-model="priceVariation"
                       ng-model-options="{ getterSetter: true }">
                <select class="form-control segmentedSelectWithInput"
                        ng-options="variationType.label for variationType in variationTypes"
                        ng-model="percentage"
                        ng-model-options="{ getterSetter: true }">
                </select>
            </div>
        </div>

    </div>

    <h2>
        trans.contract
    </h2>

    <div class="row contractDateRow row-xs-height ">

        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.dates {{contractEntryDateOpen}}</span>
        </div>

        <div class="row col-xs-12 col-sm-10 col-md-11  col-sm-height col-middle ">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="toggle($event,'contractEntryDate')"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text"
                           ui-date="rangeStartDatePickerOptions"
                           name="contractEntryDate"
                           ng-change="rangeStartSet('contractEntryDate','contractExitDate')"
                           class="form-control"
                           id="contractEntryDate"
                           placeholder="{{ 'trans.field.contractEntryDate.label' | translate }}"
                           ng-model="contractEntryDate"
                           ng-model-options="{ getterSetter: true }"  />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="toggle($event,'contractExitDate')"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text"
                           ui-date="rangeEndDatePickerOptions"
                           name="contractExitDate"
                           ng-change="rangeEndSet('contractEntryDate','contractExitDate')"
                           class="form-control"
                           id="contractExitDate"
                           placeholder="{{ 'trans.field.contractExitDate.label' | translate }}"
                           ng-model="contractExitDate"
                           ng-model-options="{ getterSetter: true }"  />
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 timeZonePicker">
                <div class="input-group">
                    <select id="contractDateTimezonePicker" class="form-control"
                            ng-model="contractDateTimezone"
                            ng-change="setter('contractDateTimezone')"
                            ng-options="timezone.text for timezone in timezones"
                            ng-model-options="{ getterSetter: true }">
                    </select>
                </div>
            </div>

        </div>
    </div>


    <div class="row contractTimeRow row-sm-height ">

        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.hours</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">

            <div class="row  row-sm-height  col-xs-12  innerRow">

                <div class="col-xs-12 col-sm-4 col-md-4  col-sm-height col-middle">
                    <timepicker ng-change="setter('contractHourRangeConditionStart')"
                                hour-step="hstep"
                                minute-step="mstep"
                                show-meridian="true"
                                ng-model="contractHourRangeConditionStart"></timepicker>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4  col-sm-height col-middle">
                    <timepicker ng-change="setter('contractHourRangeConditionEnd')"
                                hour-step="hstep" minute-step="mstep"
                                show-meridian="true"
                                ng-model="contractHourRangeConditionEnd"></timepicker>

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-sm-height col-middle timeZonePicker  ">
                    <div class="input-group">
                        <select id="contractHourRangeTimezone" class="form-control"
                                ng-model="contractHourRangeTimezone"
                                ng-change="setter('contractHourRangeTimezone')"
                                ng-options="timezone.text for timezone in timezones"
                                ng-model-options="{ getterSetter: true }">
                        </select>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row contractDaysRow row-sm-height ">

        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.days</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">
            <div ng-repeat="day in weekDays" class="col-md-1 seven-cols middleDay">
                <label class="checkbox-inline">
                    <input type="checkbox"
                           checklist-model="days.contractWeekDaysConditionDays"
                           checklist-value="day">
                    trans.{{day}}
                </label>
            </div>
        </div>
        <button ng-click="checkAll('contractWeekDaysConditionDays')">{{'check all' | translate}}</button>
        <button ng-click="uncheckAll('contractWeekDaysConditionDays')">{{'uncheck all' | translate}}</button>
    </div>

    <h2>
        trans.stay
    </h2>

    <div class="row stayDateRow row-xs-height ">

        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.dates</span>
        </div>

        <div class="row col-xs-12 col-sm-10 col-md-11  col-sm-height col-middle ">

            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="toggle($event,'stayEntryDate')"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text"
                           ui-date="rangeStartDatePickerOptions"
                           name="stayEntryDate"
                           ng-change="rangeStartSet('stayEntryDate','stayExitDate')"
                           class="form-control"
                           id="stayEntryDate"
                           placeholder="{{ 'trans.field.stayEntryDate.label' | translate }}"
                           ng-model="stayEntryDate"
                           ng-model-options="{ getterSetter: true }"  />
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="toggle($event,'stayExitDate')"
                                aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input type="text"
                           ui-date="rangeEndDatePickerOptions"
                           name="stayExitDate"
                           ng-change="rangeEndSet('stayEntryDate','stayExitDate')"
                           class="form-control"
                           id="stayExitDate"
                           placeholder="{{ 'trans.field.stayExitDate.label' | translate }}"
                           ng-model="stayExitDate"
                           ng-model-options="{ getterSetter: true }"  />
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 timeZonePicker">
                <div class="input-group">
                    <select id="stayDateTimezonePicker" class="form-control"
                            ng-model="stayDateTimezone"
                            ng-change="setter('stayDateTimezone')"
                            ng-options="timezone.text for timezone in timezones"
                            ng-model-options="{ getterSetter: true }">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row contractDaysRow row-sm-height ">

        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.days</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">
            <div ng-repeat="day in weekDays" class="col-md-1 seven-cols middleDay">
                <label class="checkbox-inline">
                    <input type="checkbox" checklist-model="days.stayWeekDaysConditionDays" checklist-value="day"> trans.{{day}}
                </label>
            </div>
        </div>
        <button ng-click="checkAll('stayWeekDaysConditionDays')">{{'check all' | translate}}</button>
        <button ng-click="uncheckAll('stayWeekDaysConditionDays')">{{'uncheck all' | translate}}</button>
    </div>


    <h2>
        trans.protection
    </h2>

    <div class="row protectionDateRow row-xs-height ">
        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.code</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <input type="text" class="form-control"
                       ng-model="code"
                       ng-model-options="{ getterSetter: true }"
                       placeholder="{{ 'trans.field.code.placeholder' | translate }}">
            </div>
        </div>
    </div>
    <div class="row protectionDateRow row-xs-height ">
        <div class="col-xs-12 col-sm-4 col-md-1 col-sm-height col-middle">
            <span translate>trans.ctry</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <select ng-model="excludedCountries"
                        ng-model-options="{ getterSetter: true }"
                        name="excludedCountries"
                        class="duallistbox"
                        ng-options="obj.id as obj.text for obj in countries"
                        multiple
                        bs-duallistbox>
                </select>
            </div>

        </div>
    </div>

    <div class="codeBox">
        <pre class="alert alert-info">
            {{bookingPriceRule.getConditionsMap() | json}}
        </pre>
    </div>

    <button ng-click="save()">{{'trans.save' | translate}}</button>

</form>