<form ng-controller="editRule" role="form" class="mainForm center-block">

    <div class="row firstRow">

        <div class="col-xs-12 col-sm-12 col-md-4 nameContainer">
            <label for="email" translate>trans.FieldEmailLabel</label>
            <input class="form-control"  id="email" ng-model="ticker"  placeholder="{{ 'trans.FieldEmailPlaceholder' | translate }}">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 priorityContainer">
            <label for="priority" translate>trans.FieldPriorityLabel</label>
            <select id="priority" class="form-control" ng-model="data.rulePriority">
                <option>{{ 'trans.FieldPriorityPlaceholder' | translate }}</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 variationContainer">
            <label for="priority" translate>trans.field.variation.label</label>
            <div class="input-group">
                <select class="form-control segmentedSelectWithInput" ng-model="data.operation">
                    <option>+</option>
                    <option>-</option>
                </select>
                <input type="text" class="form-control segmentedSelectWithInput" ng-model="data.priceVariation">
                <select class="form-control segmentedSelectWithInput" ng-model="data.percentage">
                    <option>%</option>
                    <option>{{defaultCurrency}}</option>
                </select>
            </div>
        </div>

    </div>

    <h2>
        trans.contract
    </h2>

    <div class="row contractDateRow row-xs-height ">

        <div class="col-xs-12 col-sm-2 col-md-1 col-sm-height col-middle">
            <span translate>trans.dates</span>
        </div>

        <div class="row col-xs-12 col-sm-10 col-md-11  col-sm-height col-middle ">

            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input class="form-control" id="contractEntryDate" ng-model="data.contractEntryDate" placeholder="{{ 'trans.field.contractEntryDate.label' | translate }}" ui-date="dateOptions">
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input class="form-control" id="contractExitDate"  ng-model="data.contractExitDate" placeholder="{{ 'trans.field.contractExitDate.label' | translate }}" ui-date="dateOptions">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 timeZonePicker">
                <div class="input-group">
                    <select id="contractDateTimezonePicker" class="form-control" ng-model="data.contractDateTimezonePicker">
                        <option>{{ 'trans.field.contractDateTimezone.placeholder' | translate }}</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

        </div>
    </div>


    <div class="row contractTimeRow row-sm-height ">

        <div class="col-xs-12 col-sm-2 col-md-1 col-sm-height col-middle">
            <span translate>trans.hours</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">

            <div class="row  row-sm-height  col-xs-12  innerRow">
                <div class="col-xs-12 col-sm-2 col-md-2  col-sm-height col-middle" >
                    <timepicker ng-model="data.timeto" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-sm-height col-middle">
                    <timepicker ng-model="data.timeuntil" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-sm-height col-middle timeZonePicker  ">
                    <div class="input-group">
                        <select id="contractTimeTimezonePicker" class="form-control" ng-model="data.contractTimeTimezonePicker">
                            <option>{{ 'trans.field.contractDateTimezone.placeholder' | translate }}</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row contractDaysRow row-sm-height ">

        <div class="col-xs-12 col-sm-2 col-md-1 col-sm-height col-middle">
            <span translate>trans.days</span>
        </div>
        <div ng-repeat="day in daysList" class="col-md-1 seven-cols middleDay">
            <label class="checkbox-inline">
                <input type="checkbox" checklist-model="data.days" checklist-value="day"> trans.{{day}}
            </label>
        </div>
        <button ng-click="checkAll()">{{'check all' | translate}}</button>
        <button ng-click="uncheckAll()">{{'uncheck all' | translate}}</button>
    </div>

    <h2>
        trans.stay
    </h2>

    <div class="row stayDateRow row-xs-height ">

        <div class="col-xs-12 col-sm-2 col-md-1 col-sm-height col-middle">
            <span translate>trans.dates</span>
        </div>

        <div class="row col-xs-12 col-sm-10 col-md-11  col-sm-height col-middle ">

            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input class="form-control" id="stayEntryDate" ng-model="data.stayEntryDate" placeholder="{{ 'trans.field.stayEntryDate.label' | translate }}" ui-date="dateOptions">
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </button>
                    </div>
                    <input class="form-control" id="stayExitDate" ng-model="data.stayExitDate" placeholder="{{ 'trans.field.stayExitDate.label' | translate }}" ui-date="dateOptions">
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 timeZonePicker">
                <div class="input-group">
                    <select id="stayDateTimezonePicker" class="form-control" ng-model="data.stayDateTimezonePicker">
                        <option>{{ 'trans.field.stayDateTimezone.placeholder' | translate }}</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <h2>
        trans.protection
    </h2>

    <div class="row protectionDateRow row-xs-height ">
        <div class="col-xs-12 col-sm-2 col-md-1 col-sm-height col-middle">
            <span translate>trans.FieldCodeLabel</span>
        </div>

        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">
            <div class="col-sm-4">
                <input class="form-control" ng-model="data.protection" placeholder="{{ 'trans.FieldCodePlaceholder' | translate }}">
            </div>
        </div>
    </div>

    <h2>
        trans.countries
    </h2>
    <div class="row protectionDateRow row-xs-height ">
        <div class=" col-xs-12 col-sm-10 col-md-11 col-sm-height col-middle  ">
            <select ng-model="data.countries"
                    ng-options="obj.id as obj.text for obj in list"
                    multiple
                    bs-duallistbox>
            </select>
        </div>
    </div>
<pre class="alert alert-info">
    {{data | json}}
</pre>
</form>

